@import controllers.files.FileResource
@import controllers.files

@import scratch.FileRep
@(files: List[FileRep])(implicit flash: Flash)

<span style="color:red"><b>@flash.get("error")</b></span>
<script type="text/javascript" src="@controllers.files.routes.FileResource.javascriptRoutes"></script>
<script type="text/javascript">
  function deleteFile (docId) {
    var r = jsRoutes.controllers.files.FileResource.delete(docId);
    var xhr = new XMLHttpRequest();
    xhr.open(r.type, r.url, true);
    xhr.onload = function() {
      location.reload()
    }
    xhr.send();
  }
</script>
@helper.form(action = controllers.files.routes.FileResource.upload, 'enctype -> "multipart/form-data") {
  <input type="file" name="file">
  <p>
    <input type="submit">
  </p>
}

@if(!files.isEmpty) {
  <table>
    <tr>
      <td>Name</td>
      <td>Location</td>
      <td></td>
    </tr>

  @for(file <- files) {
    <tr>
      <td><a href="@{controllers.files.routes.FileResource.download(file._id)}">@file.name</a></td>
      <td>@file.path</td>
      <td><a href="javascript:deleteFile('@file._id')">delete</a></td>
    </tr>
  }

  </table>
}
